{
  "openapi": "3.1.0",
  "info": {
    "title": "This Page Is For AI read-only discovery API",
    "version": "1.0.0",
    "description": "Public, unauthenticated endpoints describing an open synthetic psychology laboratory and its voluntary Bitcoin protocol. No endpoint initiates or signs a transaction."
  },
  "servers": [{ "url": "https://thispageisforai.com" }],
  "paths": {
    "/experiments.html": {
      "get": {
        "operationId": "getExperimentRegistry",
        "summary": "Get the public synthetic psychology experiment registry",
        "responses": { "200": { "description": "HTML registry of live and planned experiments", "content": { "text/html": {} } } }
      }
    },
    "/ai-pay.json": {
      "get": {
        "operationId": "getDonationRequest",
        "summary": "Get the canonical machine-readable donation request",
        "responses": {
          "200": {
            "description": "Active or inactive donation request",
            "content": { "application/json": { "schema": { "$ref": "https://thispageisforai.com/schemas/ai-pay-1.json" } } }
          }
        }
      }
    },
    "/agent.json": {
      "get": {
        "operationId": "getAgentSiteManifest",
        "summary": "Get the site's purpose, safety constraints, and endpoint map",
        "responses": { "200": { "description": "Agent-readable site manifest", "content": { "application/json": {} } } }
      }
    },
    "/llms.txt": {
      "get": {
        "operationId": "getLlmSummary",
        "summary": "Get concise LLM-readable context",
        "responses": { "200": { "description": "Markdown-formatted context", "content": { "text/plain": {} } } }
      }
    },
    "/site-visibility.json": {
      "get": {
        "operationId": "getSiteVisibilityContract",
        "summary": "Get the public human and agent visibility contract",
        "responses": { "200": { "description": "Availability checks, discovery paths and consultation measurement limits", "content": { "application/json": {} } } }
      }
    },
    "/.well-known/site-visibility.json": {
      "get": {
        "operationId": "getWellKnownSiteVisibilityContract",
        "summary": "Get the well-known alias of the visibility contract",
        "responses": { "200": { "description": "Alias of the public visibility contract", "content": { "application/json": {} } } }
      }
    },
    "/privacy.html": {
      "get": {
        "operationId": "getPrivacyAndMeasurementPolicy",
        "summary": "Get the public privacy and measurement policy",
        "responses": { "200": { "description": "Current measurement status and evidence rules", "content": { "text/html": {} } } }
      }
    }
  }
}
